<article>
  <ul>
    <li>
      Автор: {{ char.author.get_full_name }}  <a href="{% url 'posts:profile' char.author.get_username %}">Все посты пользователя</a>
    </li>
    <li>
      Дата публикации: {{ char.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% thumbnail char.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>
    {{ char.text }}
  </p>
  <a href="{% url 'posts:post_detail' char.id %}">подробная информация</a>
</article>
{% if char.group %}
  <a href="{% url 'posts:group_list' char.group.slug %}">все записи группы</a>
{% else %}
    <p>Без группы</p>
{% endif %}