<table class="table table-sm" style="font-size:14px;">
  <form action="{% url request.resolver_match.view_name %}" method="get">
    <input size=5 type="submit" value="Поиск/сброс" />
    <thead class="table-light">
      <tr>
        <td>
          <p>id, выбор</p>
        </td>
        <td>
          <input size=20 name="inventory" type="text" placeholder="Поиск...">
          <br>
          <p>Инвентарный номер</p>
        </td>
        <td>
          <input size=10 name="name" type="text" placeholder="Поиск...">
          <br>
          <p>Наименование</p>
        </td>
        <td>
          <input size=10 name="model" type="text" placeholder="Поиск...">
          <br>
          <p>Модель</p>
        </td>
        <td>
          <br>
          <br>
          <p>Путь к папке с документами</p>
        </td>
        <td>
          <br>
          <br>
          <p>Руководство по эксплуатации</p>
        </td>
        <td>
          <input size=10 name="movement" type="text" placeholder="Поиск...">
          <br>
          <p>Место нахождения</p>
          Отсутствует адрес <input type="checkbox" name="without_address" />
          <br>
        </td>
      </tr>
    </thead>
  </form>
  <form action="{% url 'web:movement_create' '1' %}" method="get">
    <input size=5 type="submit" value="Передать выбранное оборудование" />
    {% for char in page_obj %}
      <tr>
        <td>
          <a href="{% url 'web:equipment_edit' char.id %}">изменить {{ char.id }}</a>
          <input type="checkbox" name="ids" value="{{ char.id }}" />
        </td>
        <td>{{ char.inventory }}</td>
        <td>{{ char.name }}</td>
        <td>{{ char.model }}</td>
        <td>{{ char.document_path }}</td>
        <td><a href="/manual_download/{{ char.id }}/">{{ char.manual }}</a></td>
        <td>
          {% with values=char.movements table_object="movement" %}
            {% include 'includes/accordeon.html' %}
          {% endwith %}
        </td>
      </tr>
    {% endfor %}
  </form>
</table>
{% include 'includes/paginator.html' %}