<table class="table table-sm" style="font-size:14px;">
  <form action="{% url 'web:index' %}" method="get">
    <thead class="table-light">
      <tr>
        <td>
          <input size=5 type="submit" value="Поиск/сброс" />
          <p>id</p>
        </td>
        <td>
          <input size=20 name="inventory" type="text" placeholder="Поиск...">
          <br>
          <p>Инвентарный номер</p>
        </td>
        <td>
          <input size=10 name="name" type="text" placeholder="Поиск...">
          <br>
          <p>Наименование</p>
        </td>
        <td>
          <input size=10 name="type" type="text" placeholder="Поиск...">
          <br>
          <p>Тип</p>
        </td>
        <td>
          <input size=10 name="model" type="text" placeholder="Поиск...">
          <br>
          <p>Модель</p>
        </td>
        <td>
          <input size=10 name="manufacturer" type="text" placeholder="Поиск...">
          <br>
          <p>Производитель</p>
        </td>
        <td>
          <input size=10 name="documents" type="text" placeholder="Поиск...">
          <br>
          <p>Документы</p>
        </td>
        <td>
          <input size=10 name="rent" type="text" placeholder="Поиск...">
          <br>
          <p>Аренда</p>
        </td>
        <td>
          <input size=10 name="attestation" type="text" placeholder="Поиск...">
          <br>
          <p>Аттестация</p>
        </td>
        <td>
          <input size=10 name="calibration" type="text" placeholder="Поиск...">
          <br>
          <p>Калибровка</p>
        </td>
        <td>
          <input size=10 name="movement" type="text" placeholder="Поиск...">
          <br>
          <p>Место нахождения</p>
        </td>
      </tr>
    </thead>
  </form>
  {% for char in page_obj %}
    <tr>
      <td>
        <a href="{% url 'web:equipment_edit' char.id %}">{{ char.id }}</a>
      </td>
      <td>
        {{ char.inventory }}
      </td>
      <td>
        {{ char.name }}
      </td>
      <td>
        {{ char.type }}
      </td>
      <td>
        {{ char.model }}
      </td>
      <td>
        {{ char.manufacturer }}
      </td>
      <td>
        {% for doc in char.documents.all %}
          {{ doc.name }}<br>
        {% endfor %}
        {{ char.document_path }}
      </td>
      <td>
        {% with values=char.rents table_object="rent" %}
          {% include 'includes/accordeon.html' %}
        {% endwith %}
      </td>
      <td>
        {% with values=char.attestations table_object="attestation" %}
        {% include 'includes/accordeon.html' %}
        {% endwith %}
      </td>
      <td>
        {% with values=char.calibrations table_object="calibration" %}
          {% include 'includes/accordeon.html' %}
        {% endwith %}
      </td>
      <td>
        {% with values=char.movements table_object="movement" %}
          {% include 'includes/accordeon.html' %}
        {% endwith %}
      </td>
    </tr>
  {% endfor %}
</table>
{% include 'includes/paginator.html' %}